.card-name {
    font-family: katibeh, Arial, Helvetica, sans-serif;
    font-size: 3em;
    padding-bottom: 0.5em;
}

.card-fond {
    background-color: var(--gris);
    max-width: 15em;
    
}

.btn {
    text-align: center;
    padding-top: 0em;
}