.bill {
   display: flex;
 justify-content: space-around;
   
  
   
    
}
.billetterie {
 
   justify-content: space-around;
   min-height: 100vh;
   padding-bottom: 2em;
   background-size: cover;
   background-image: url("../../public/assets/27104127-applaudissement-foule-illumine-par-vibrant-etape-lumieres-a-concert-photo.jpg");
}