
#suiveznous {
    font-family: Katibeh, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: var(--mauve);
    text-align: center;
    margin-bottom: 0;
    border-top: solid 2px var(--noir);
}
.foot {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--blanc);
      

}

.foot {
    display: flex;
    justify-content: space-around;
   
}
.backcolorfoot {
    background-color: var(--mauve);
}

svg:hover {
    background-color:aqua;
}
