

.Map {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 4em;
}

h1.title {
    font-size: 5em;
}

.billet {
    font-size: 3em;
    padding-top: 0;
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.3em;
    padding-inline: 1em;
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--rouge);
    color: var(--blanc);
    
}