
.card {    
    max-width: 600px;
    padding-inline: 0.5rem;
    margin-top: 3rem;
    border: none;
    font-family: katibeh, Arial, Helvetica, sans-serif;
    font-size:0.95em;
    
   
    
    
} 

.cardProg {
    
    max-width: 600px;
    padding-inline: 4em;
    margin-top: 3rem;
    border: none;
    font-family: katibeh, Arial, Helvetica, sans-serif;
    font-size:0.95em;
    margin: 1em 0em 1em 7em;
}

.card-image {
    padding-top: 0.5em;
}


.logoSizeM {
    display:flex;
   
    align-items: center;
    margin-bottom: 0px;
}

.kard {
    display: flex;  
    justify-content: center;  
    padding-bottom: 2em;
    
   
    
}


.card-text {
    
    font-family: katibeh,Arial, Helvetica, sans-serif;    
    font-size:  1em
   
    
}
.card-body {
   text-align: center;
    line-height: 0.5em;
    
   
}

.card-title {
    font-size: 1.2em;
    color: var(--rouge);
    text-align: center;
    
}
