
.card {
    display:flex;
    max-width: 600px;
    padding-inline: 0.5rem;
    margin-top: 2rem;
    border: none;
    font-family: katibeh, Arial, Helvetica, sans-serif;
    font-size:1em;
    
} 


.logoSizeM {
    display:flex;
   
    align-items: center;
    margin-bottom: 0px;
}

.kard {
    display: flex;
    justify-content: center;
    padding-left: em;
    padding-bottom: 2em;
    
}


.card-text {
    
    font-family: katibeh,Arial, Helvetica, sans-serif;    
    font-size:  1.1em
   
    
}
.card-body {
   text-align: center;
    line-height: 0.4em;
    
   
}

.card-title {
    font-size: 1.2em;
    color: var(--rouge);
    text-align: center;
    padding-top: 0;
}
