.contact {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--gris);   
    padding-top: 2em;
    padding-bottom: 5em;
}

.field {
    margin-top: 1em;
    margin-bottom: 1em;
}

.contacth1 {
    justify-content: center;
    text-align: center;
    background-color: var(--gris);   
    margin-bottom: 0;
    padding-top: 0.5em;
    font-family: Katibeh;
    font-size: 5em;
}
