.AllDrop {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom :2em;
   
}

.DropdownItem {
    margin-right: 3em;
    margin-left: 1em;
}

.police {
    color: var(#000000);
    font-size: 2em;
    font-family: Katibeh;
}