/*****TAILWIND*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/***************Initialisation*************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
  
  }

/****************Polices*****************/

@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Katibeh&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');




/***************Couleurs******************/

:root {
  --blanc: #FFFFFF;
  --mauve: #af74c7;
  --rouge: #ff0000;
  --noir: #000000;
  --gris: #949494;


     

}



/****************App.css******************/


.background {
    background-size: cover;
    background-image: url(../public/assets/pexels-wendywei-1190298.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.background {
  font-family: Katibeh, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--rouge);
}




